# Application
PORT=3000
NODE_ENV=development

# Base de données PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=mutafriches_user
DB_PASSWORD=mutafriches_password
DB_NAME=mutafriches

# Clé secrète pour les sessions
SESSION_SECRET=mutafriches-secret-key

# API & Sources externes
# URL de base pour l'API Carto IGN
IGN_CADASTRE_API_URL=https://apicarto.ign.fr/api/cadastre

# BDNB
BDNB_API_URL=https://bdnb.io/api

# Transport Data Gouv
TRANSPORT_DATA_GOUV_URL=https://transport.data.gouv.fr/api