<h1>Mutafriches</h1>
<p>Trouvez le meilleur usage pour votre site en friche</p>
<hr />
<div class="fr-stepper fr-mb-4w">
  <h2 class="fr-stepper__title">
    {{currentStepTitle}}
    <span class="fr-stepper__state">Étape {{currentStep}} sur {{totalSteps}}</span>
  </h2>
  <div class="fr-stepper__steps" data-fr-current-step="{{currentStep}}" data-fr-steps="{{totalSteps}}"></div>
  <p class="fr-stepper__details">
    <span class="fr-text--bold">Étape suivante :</span> {{nextStepTitle}}
  </p>
</div>