# Application
PORT=3000
NODE_ENV=development

# Base de données PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=mutafriches_user
DB_PASSWORD=mutafriches_password
DB_NAME=mutafriches

# ALLOWED_ORIGINS - Liste des origines autorisées pour le guard CORS, séparées par des virgules
ALLOWED_ORIGINS=https://mutafriches.incubateur.ademe.dev,https://mutafriches.beta.gouv.fr,http://localhost:5173